<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Todo Application</display-name>

    <filter>
        <filter-name>IndexFilter</filter-name>
        <filter-class>ru.job4j.todo.controller.filter.IndexFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>ru.job4j.todo.controller.filter.AuthFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>IndexFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>

    <!-- Слушатели -->
    <listener>
        <listener-class>ru.job4j.todo.controller.listener.DatabasePreparationListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>TodoServlet</servlet-name>
        <servlet-class>ru.job4j.todo.controller.servlet.TodoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TaskServlet</servlet-name>
        <servlet-class>ru.job4j.todo.controller.servlet.TaskServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>ru.job4j.todo.controller.servlet.IndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthServlet</servlet-name>
        <servlet-class>ru.job4j.todo.controller.servlet.AuthServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegServlet</servlet-name>
        <servlet-class>ru.job4j.todo.controller.servlet.RegServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>ru.job4j.todo.controller.servlet.LogoutServlet</servlet-class>
    </servlet>

    <!-- Маппинг сервлетов. -->
    <servlet-mapping>
        <servlet-name>TodoServlet</servlet-name>
        <url-pattern>/todo.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/index.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TaskServlet</servlet-name>
        <url-pattern>/task.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthServlet</servlet-name>
        <url-pattern>/auth.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegServlet</servlet-name>
        <url-pattern>/register.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout.do</url-pattern>
    </servlet-mapping>
</web-app>
